body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.dark-mode {
    background-color: #121212;
    color: #fff;
}

.login-form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    font-size: 16px;
    color: #ccc;
    text-align: left;
}

.input-field input[type="text"],
.input-field input[type="password"], .input-field input[type="email"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

.submit-btn {
    background-color:#006666 ;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color:#003333;
}

.form-links {
    margin-top: 15px;
}

.create-account-link {
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
    margin-right: 20px;
}

.oauth-container {
    margin-top: 20px;
}

.google-login-btn {
    display: inline-flex;
    align-items: center;
    background-color:#006666;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.google-login-btn:hover {
    background-color:#003333 ;
}

.google-logo {
    width: 20px;
    margin-right: 10px;
}
